---
permalink: bundle.css
---

{% include "styles/header.css" %}

{% include "styles/footer.css" %}

{% include "styles/global.css" %}

{% include "styles/grid.css" %}

{% include "styles/hero.css" %}

{% include "styles/image-text.css" %}

{% include "styles/quick-links.css" %}

{% include "styles/projects-wrapper.css" %}

{% include "styles/project-card.css" %}

{% include "styles/resume.css" %} 

{% include "styles/featured-projects.css" %}

{% include "styles/project-header.css" %}

{% include "styles/form.css" %}

{% include "styles/full-image.css" %}

{% include "styles/text-block.css" %}

{% include "styles/logo-grid.css" %}
