main.experience section.featured-projects .featured-projects__title {
    color: var(--tertiary-color);
}

main.experience section.featured-projects .featured-projects__title span {
    font-family: "marine-up", sans-serif;
    font-weight: 400;
}


section.featured-projects .featured-projects__title {
    text-align: center;
    margin-bottom: calc(20 / 16 * 1rem);
    @media (width >= 48rem) {
        margin-bottom: calc(40 / 16 * 1rem);
    }
}

section.featured-projects .featured-projects__wrapper {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    justify-content: center;
    @media (width >= 48rem) { 
        flex-direction: row;
    }
}
