section.contact-form .column-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.contact-form.theme-portfolio .column-text {
    grid-column: span 12;
    @media (width >= 48rem) { 
        grid-column-start: 2;
        grid-column-end: 5;
    }
}

section.contact-form.theme-portfolio .column-form {
    grid-column: span 12;
    @media (width >= 48rem) { 
        grid-column-start: 6;
        grid-column-end: 12;
    }
}

section.contact-form.theme-contact .column-text {
    grid-column: span 12;
    @media (width >= 48rem) {
        grid-column-start: 4;
        grid-column-end: 10;
    }
}

section.contact-form.theme-contact .column-form {
    grid-column: span 12;
    @media (width >= 48rem) { 
        grid-column-start: 4;
        grid-column-end: 10;
    }
}

section.contact-form.theme-contact .cta-title {
    margin-bottom: 1rem;
    @media (width >= 48rem) { 
        margin-bottom: calc(30 / 16 * 1rem);
    }
}

section.contact-form.theme-contact .column-text {
    text-align: center;
}

section.contact-form .column-text .graphic-wrapper {
    align-self: flex-end;
    width: calc(122 / 16 * 1rem);
    height: calc(122 / 16 * 1rem);
    background-image: url('/images/cherry-punnet.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

section.contact-form .column-form form {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    padding: 1.25rem;
    border-radius: 20px;
}

section.contact-form.bg-secondary .cta-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.contact-form.bg-tertiary .cta-title {
    color: var(--tertiary-offset);
}

section.contact-form.bg-secondary .cta-title {
    color: var(--highlight-color);
}

section.contact-form.bg-secondary form {
    border: 3px solid var(--highlight-color);
}

section.contact-form.bg-tertiary form {
    border: 3px solid var(--tertiary-offset);
}

section.contact-form .column-form form .form-field-wrap {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

section.contact-form.bg-tertiary form label {
    color: var(--tertiary-offset);
}

section.contact-form.bg-secondary form label {
    color: var(--highlight-color);
}

section.bg-secondary form textarea, 
section.bg-secondary form input {
    outline: 1px solid var(--highlight-color);
}

section.contact-form.bg-tertiary form textarea, 
section.contact-form.bg-tertiary form input {
    outline: 1px solid var(--tertiary-offset);
}

section.contact-form.bg-tertiary form textarea:focus,
section.contact-form.bg-tertiary form input:focus {
    outline: 2px solid var(--tertiary-offset);
}

section.contact-form.bg-secondary form textarea:focus,
section.contact-form.bg-secondary form input:focus {
    outline: 2px solid var(--highlight-color);
}

section.contact-form.bg-tertiary form button.form-button {
    border: 3px solid var(--tertiary-offset);
    color: var(--tertiary-offset);
}

section.contact-form.bg-tertiary form button.form-button:hover {
    color: var(--tertiary-color);
    background-color: var(--tertiary-offset);
}
section.contact-form.bg-secondary form button.form-button {
    border: 3px solid var(--highlight-color); 
    color: var(--highlight-color);
}

section.contact-form.bg-secondary form button.form-button:hover {
    color: var(--dark);
    background-color: var(--highlight-color);
}

