html, 
body {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #A1CCFF;
    --secondary-color: #196638;
    --tertiary-color: #FB93D0;
    --tertiary-offset: #B5182F;
    --white: #ffffff;
    --black: #000000;
    --small: 40rem;
    --medium: 48rem;
    --large: 64rem;
    --xlarge: 80rem;
    --xxlarge: 96rem;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4, 
h5, 
h6 {
    margin: 0;
    font-family: "rl-aqva", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* heading 72px */
.heading-xl {
    font-size: clamp(2rem, 4vw, 4.5rem);
}
/* heading 60px */
.heading-lg {
    font-size: clamp(2rem, 4vw, 3.75rem);
}
/* heading 36px */
.heading-md {
    font-size: clamp(1.5rem, 4vw, 2.25rem);
}
/* heading 24px */
.heading-sm {
    font-size: clamp(1.25rem, 4vw, 1.5rem);
}
/* body 20px */
.body-lead {
    font-size: clamp(1rem, 4vw, 1.25rem);
}

.gap-xxs {gap: calc(2 / 16 * 1rem);}
.gap-xs {gap: calc(4 / 16 * 1rem);}
.gap-sm {gap: calc(6 / 16 * 1rem);}
.gap-md {gap: calc(10 / 16 * 1rem);}
.gap-lg {gap: calc(20 / 16 * 1rem);}
@media (width >= 48rem) { 
    .gap-xxs {gap: calc(4 / 16 * 1rem);}
    .gap-xs {gap: calc(8 / 16 * 1rem);}
    .gap-sm {gap: calc(12 / 16 * 1rem);}
    .gap-md {gap: calc(20 / 16 * 1rem);}
    .gap-lg {gap: calc(40 / 16 * 1rem);}
}

.visually-hidden {
    display: block;
    text-decoration: none;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.button,
ul,
li,
p {
    font-family: "marine-up", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
}

section {
    padding: calc(69 / 16 * 1rem) 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.container-xl {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
}

.button-wrapper {
    display: flex;
}

a.button {
    white-space: nowrap;
    font-weight: 900;
    text-decoration: none;
    display: block;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    transition: all 200ms ease-in-out;
    border-radius: calc(50 / 16 * 1rem);
    padding: calc(5 / 16 * 1rem) calc(27 / 16 * 1rem);
    @media (width >= 48rem) { 
        padding: calc(10 / 16 * 1rem) calc(54 / 16 * 1rem);
    }
}

a.button-tertiary {
    color: var(--tertiary-offset);
    background-color: var(--tertiary-color);
}

a.button-tertiary:hover {
    color: var(--white);
    background-color: var(--tertiary-offset);
}

a.button-primary {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

a.button-primary:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

