html, 
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth !important;
}

:root {
    --primary-color: #A1CCFF;
    --secondary-color: #196638;
    --tertiary-color: #FB93D0;
    --tertiary-offset: #B5182F;
    --highlight-color: #A2F4E6;
    --light-gray: #FFFAFA;
    --white: #ffffff;
    --dark: #282828;
    --black: #000000;
    --small: 40rem;
    --medium: 48rem;
    --large: 64rem;
    --xlarge: 80rem;
    --xxlarge: 96rem;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4, 
h5, 
h6 {
    margin: 0;
    font-family: "rl-aqva", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.text-heading {
    font-family: "rl-aqva", sans-serif;
}

.text-body {
    font-family: "marine-up", sans-serif;
}

/* heading 72px */
.heading-xl {
    font-size: calc(36 / 16 * 1rem);
    @media (width >= 48rem) { 
        font-size: calc(72 / 16 * 1rem);
    }
}
/* heading 60px */
.heading-lg {
    font-size: clamp(2rem, 4vw, 3.75rem);
}
/* heading 36px */
.heading-md {
    font-size: clamp(1.5rem, 4vw, 2.25rem);
}
/* heading 24px */
.heading-sm {
    font-size: clamp(1.25rem, 4vw, 1.5rem);
}

/* heading 45px */
.featured-projects__title {
    font-size: clamp(1.45rem, 4vw, 2.813rem);
}

/* body 20px */
.body-lead {
    font-size: clamp(1rem, 4vw, 1.25rem);
}

.font-bold {
    font-weight: 600;
}

.font-black {
    font-weight: 900;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-tertiary {
    color: var(--tertiary-color);
}

.text-tertiary-offset {
    color: var(--tertiary-offset);
}

.text-black {
    color: var(--black);
}

.text-dark {
    color: var(--dark);
}

.text-white {
    color: var(--white);
}

.text-highlight {
    color: var(--highlight-color);
}

.gap-xxs {gap: calc(2 / 16 * 1rem);}
.gap-xs {gap: calc(4 / 16 * 1rem);}
.gap-sm {gap: calc(6 / 16 * 1rem);}
.gap-md {gap: calc(10 / 16 * 1rem);}
.gap-lg {gap: calc(20 / 16 * 1rem);}
@media (width >= 48rem) { 
    .gap-xxs {gap: calc(4 / 16 * 1rem);}
    .gap-xs {gap: calc(8 / 16 * 1rem);}
    .gap-sm {gap: calc(12 / 16 * 1rem);}
    .gap-md {gap: calc(20 / 16 * 1rem);}
    .gap-lg {gap: calc(40 / 16 * 1rem);}
}

.visually-hidden {
    display: block;
    text-decoration: none;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.text-uppercase {
    text-transform: uppercase;
}

.button,
ul,
li,
p {
    font-family: "marine-up", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
}

form label {
    font-family: "marine-up", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;
}

form input {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: "marine-up", sans-serif;
    transition: all 200ms ease-in-out;
}

form textarea {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: "marine-up", sans-serif;
    transition: all 200ms ease-in-out;
}

main.page section {
    padding: calc(30 / 16 * 1rem) 0;
    @media (width >= 48rem) {
        padding: calc(69 / 16 * 1rem) 0;
    }
}

main.project section {
    padding: calc(28 / 16 * 1rem) 0;
    @media (width >= 48rem) {
        padding: calc(60 / 16 * 1rem) 0;
    }
}

main.project section.bg-white + section.bg-white {
    padding-top: 0;
}

main.project .project-button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: calc(60 / 16 * 1rem);
    @media (width >= 48rem) {
        padding-bottom: calc(120 / 16 * 1rem);
    }
}

section.bg-white {
    background-color: var(--white);
}

section.bg-black {
    background-color: var(--black);
}

section.bg-primary {
    background-color: var(--primary-color);
}

section.bg-secondary {
    background-color: var(--secondary-color);
}

section.bg-tertiary {
    background-color: var(--tertiary-color);
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.container-xl {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
}

.button-wrapper {
    display: flex;
}

button.button,
a.button {
    cursor: pointer;
    white-space: nowrap;
    font-weight: 900;
    text-decoration: none;
    display: block;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    transition: all 200ms ease-in-out;
    border-radius: calc(50 / 16 * 1rem);
    padding: calc(5 / 16 * 1rem) calc(27 / 16 * 1rem);
    @media (width >= 48rem) { 
        padding: calc(10 / 16 * 1rem) calc(54 / 16 * 1rem);
    }
}
 

button.button-tertiary,
a.button-tertiary {
    color: var(--tertiary-offset);
    background-color: var(--tertiary-color);
}

button.button-tertiary:hover,
a.button-tertiary:hover {
    color: var(--white);
    background-color: var(--tertiary-offset);
}

button.button-tertiary-offset,
a.button-tertiary-offset {
    color: var(--tertiary-color);
    background-color: var(--tertiary-offset);
}

button.button-tertiary-offset:hover,
a.button-tertiary-offset:hover {
    color: var(--tertiary-offset);
    background-color: var(--tertiary-color);
}


button.button-primary,
a.button-primary {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

button.button-primary.w-border,
a.button-primary.w-border {
    border: 3px solid var(--secondary-color);
}

button.button-primary:hover,
a.button-primary:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

a.filter-button,
button.filter-button {
    font-family: "marine-up", sans-serif;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 900;
    text-decoration: none;
    display: block;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    transition: all 200ms ease-in-out;
    border-radius: calc(50 / 16 * 1rem);
    padding: calc(5 / 16 * 1rem) calc(27 / 16 * 1rem);
    background-color: var(--tertiary-color);
    color: var(--tertiary-offset);
    border: 0.125rem solid var(--tertiary-offset);
}

button.filter-button:hover {
    color: var(--tertiary-color);
    background-color: var(--tertiary-offset);
}

button.form-button {
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 900;
    text-decoration: none;
    display: block;
    transition: all 200ms ease-in-out;
    border-radius: 0.5rem;
    padding: calc(5 / 16 * 1rem) calc(27 / 16 * 1rem);
    background-color: transparent;
}
