.grid {
    display: grid;
    gap: calc(12 / 16 * 1rem);
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.col-span-1 {
    grid-column: 1;
}

.col-span-2 {
    grid-column: 2;
}

.col-span-3 {
    grid-column: span 3; 
}

.col-span-4 {
    grid-column: span 4;    
}

.col-span-5 {
    grid-column: span 5;
}

.col-span-6 {
    grid-column: span 6;
}

@media only screen and (max-width: 40rem) {
    .col-span-1, 
    .col-span-2,
    .col-span-3,
    .col-span-4,
    .col-span-5,
    .col-span-6 {
        grid-column: span 12;
    }
}

