header.main-header {
    background-color: var(--primary-color);
}

.nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (width >= 80rem) { 
        padding-top: 35px;
        padding-bottom: 35px;
    }
    @media (width >= 96rem) {
        padding-top: 49px;
        padding-bottom: 49px;
    }
}

.nav-logo-wrapper a {
    display: block;
    height: 100%;
}

.nav-wrapper nav {
    display: none;
}

@media (width >= 64rem) {
    .nav-wrapper nav {
        display: flex;
        align-items: center;
    }
}

.nav-wrapper nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: calc(22 / 16 * 1rem);
    flex-direction: row;
    list-style: none;
}

.nav-wrapper nav ul li a {
    font-size: calc(22 / 16 * 1rem);
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-wrapper nav ul li a::after {
    width: 0;
    transition: all 200ms ease-in-out;
    content: " ";
    display: block;
    border-bottom: 2px solid transparent;
}

.nav-wrapper nav ul li a:hover::after {
    width: 100%;
    content: " ";
    display: block;
    border-bottom: 2px solid var(--secondary-color);
}

.nav-wrapper nav ul li a.is-active {
    font-weight: 600;
}

.container-outer {
    background-color: var(--primary-color);
}

.mobile-menu-button {
    cursor: pointer;
    display: block;
    border: 0;
    background: transparent;
    width: 50px;
    background-image: url("images/mobile-menu-button.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mobile-menu-wrapper {
    z-index: 100;
    position: absolute;
    width: 100%;
    display: none;
    padding: calc(24 / 16 * 1rem) 0 calc(28 / 16 * 1rem) 0;
    background-color: var(--tertiary-color);
}

.mobile-menu-wrapper.mobile-menu-active {
    display: block;
}


@media (width >= 64rem) { 
    .mobile-menu-wrapper {
        display: none;
    }
}

.mobile-menu-navigation ul {
    display: flex;
    gap: calc(19 / 16 * 1rem);
    flex-direction: column;
    list-style: none;
}

.mobile-menu-navigation ul li {
    text-align: center;
}

.mobile-menu-navigation ul li a {
    color: var(--tertiary-offset);
    font-size: calc(22 / 16 * 1rem);
    text-decoration: none;
}

@media (width >= 64rem) { 
    .mobile-menu-button {
        display: none;
    }
}

