section.hero {
    overflow: hidden;
    position: relative;
}

section.hero > .container {
    position: relative;
}

section.hero.theme-home {
    overflow: hidden;
    padding: 0;
}

section.hero.theme-home .hero-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 13;
    @media (width >= 48rem) { 
        grid-column-start: 2;
    }
}

section.hero.theme-home .hero-wrapper .hero-meta-wrapper {
    background-color: transparent;
}

section.hero.theme-home .hero-wrapper .hero-background-image {
    position: absolute;
    right: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}

section.hero.theme-home .hero-wrapper .hero-meta-wrapper {
    order: 1;
    padding: calc(70 / 16 * 1rem) 0;
    @media (width >= 48rem) { 
        padding: calc(140 / 16 * 1rem) 0;
    }
}

section.hero.theme-home .hero-strapline,
section.hero.theme-home .hero-title {
    color: var(--tertiary-color);
}

section.hero.theme-home .hero-strapline {
    margin: 0;
    font-size: 1rem;
    @media (width >= 48rem) { 
        font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    }
}

section.hero.theme-home .hero-strapline p {
    margin: 0;
}

section.hero.bg-secondary .hero-strapline,
section.hero.bg-secondary .hero-title {
    color: var(--highlight-color);
}

section.hero .hero-meta-wrapper .hero-title {
    text-align: left;
    @media (width >= 48rem) { 
        text-align: right;
    }
}

section.hero .hero-meta-wrapper .hero-title br {
    display: none;
    @media (width >= 48rem) { 
        display: block;
    }
}

section.hero.theme-portfolio .hero-meta-wrapper {
    order: 2;
    display: flex;
    grid-column-start: 7;
    grid-column-end: 12;
    @media (width >= 48rem) { 
        justify-content: end;
        align-items: end;
        grid-column-start: 6;
        grid-column-end: 11;
    }
} 

section.hero.theme-portfolio .hero-meta-wrapper .hero-title,
section.hero.theme-home .hero-meta-wrapper .hero-title {
    text-align: right;
}

section.hero.theme-portfolio .hero-meta-wrapper .hero-title {
    align-self: flex-end;
}

section.hero.theme-portfolio .hero-image-wrapper {
    order: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    @media (width >= 48rem) { 
        grid-column-start: 3;
        grid-column-end: 6;
    }
}  

section.hero.theme-portfolio .hero-image-wrapper img {
    width: 100%;
    height: 100%;
    @media (width >= 48rem) { 
        max-height: calc(300 / 16 * 1rem);
    }
    @media (width >= 64rem) { 
        max-height: calc(400 / 16 * 1rem);
    }
}

section.hero.theme-about .hero-image-wrapper {
    grid-column-start: 8;
    grid-column-end: 12;
    @media (width >= 48rem) {
        display: flex;
        justify-content: center;  
        grid-column-start: 8;
        grid-column-end: 11;
    }
}

section.hero.theme-about .hero-image-wrapper img {
    max-height: 120px;
    @media (width >= 48rem) { 
        max-height: 100%;
    }
}

section.hero.theme-about .hero-meta-wrapper {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 7;
    @media (width >= 48rem) { 
        grid-column-start: 3;
        grid-column-end: 8;
    }
}

section.hero.theme-about .hero-meta-wrapper .hero-title {
    align-self: flex-end;
    text-align: left;
    @media (width >= 48rem) { 
        align-self: flex-start;
    }
}

section.hero.theme-experience .hero-meta-wrapper .hero-title {
    text-align: left;
}

section.hero.theme-experience .hero-meta-wrapper {
    display: flex;
    align-items: end;
    grid-column-start: 1;
    grid-column-end: 6;
    @media (width >= 48rem) { 
        grid-column-start: 3;
        grid-column-end: 7;
    }
}


section.hero.theme-experience .hero-image-wrapper {
    transform: rotate(-15deg);
    grid-column-start: 7;
    grid-column-end: 12;
}


section.hero.theme-experience .hero-image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


section.hero.theme-contact .hero-meta-wrapper {
    order: 2;
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) { 
        grid-column-start: 7;
        grid-column-end: 11;
    }
}

section.hero.theme-contact .hero-image-wrapper {
    transform: rotate(-55deg);
    order: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    @media (width >= 48rem) {
        transform: rotate(0);
        display: flex;
        justify-content: center;    
        grid-column-start: 3;
        grid-column-end: 6;
    }
}

section.hero.theme-contact .hero-meta-wrapper .hero-title {
    text-align: right;
}

section.hero.theme-contact .hero-image-wrapper img {
    width: 100%;
    height: auto;
}

