section.hero {
    position: relative;
}

section.hero > .container {
    position: relative;
}

section.hero.theme-home .hero-background-image {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    max-width: 700px;
    right: 0;
}

@media (width >= 40rem) { 
    section.hero.theme-home .hero-background-image {
        display: block;
    }
}


section.hero .hero-background-image span {
    display: none;
}

section.hero .hero-meta-wrapper {
    padding-top: calc(124 / 16 * 1rem);
    padding-bottom: calc(240 / 16 * 1rem);
}

section.hero.theme-home .hero-title {
    font-size: clamp(2rem, 4vw, 4.5rem);
    color: var(--tertiary-color);
    margin: 0;
}

section.hero.theme-home .hero-strapline {
    font-size: clamp(1.5rem, 4vw, 2.25rem);
    color: var(--tertiary-color);
    margin: 0;
}




