section.hero {
    position: relative;
}

section.hero > .container {
    position: relative;
}

section.hero.theme-home .hero-background-image {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    max-width: 700px;
    right: 0;
}

@media (width >= 40rem) { 
    section.hero.theme-home .hero-background-image {
        display: block;
    }
}

section.hero .hero-background-image span {
    display: none;
}

section.hero.theme-home .hero-meta-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(27 / 16 * 1rem);
    padding-top: calc(20 / 16 * 1rem);
    padding-bottom: calc(24 / 16 * 1rem);
    @media (width >= 40rem) { 
        padding-top: calc(124 / 16 * 1rem);
        padding-bottom: calc(240 / 16 * 1rem);
    }
}

section.hero.theme-home .hero-strapline,
section.hero.theme-home .hero-title {
    color: var(--tertiary-color);
}

section.hero.theme-home .hero-strapline {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    margin: 0;
}

section.hero.theme-home .hero-strapline p {
    margin: 0;
}

section.hero.bg-secondary .hero-strapline,
section.hero.bg-secondary .hero-title {
    color: var(--highlight-color);
}

section.hero .hero-meta-wrapper .hero-title {
    text-align: left;
    @media (width >= 48rem) { 
        text-align: right;
    }
}

section.hero .hero-meta-wrapper .hero-title br {
    display: none;
    @media (width >= 48rem) { 
        display: block;
    }
}

section.hero.theme-portfolio .hero-meta-wrapper {
    order: 2;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) { 
        justify-content: end;
        align-items: end;
        grid-column-start: 6;
        grid-column-end: 11;
    }
}

section.hero .hero-image-wrapper {
    display: none;
    @media (width >= 48rem) { 
        display: flex;
    }
}
 
section.hero.theme-home .hero-meta-wrapper {
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 80rem) { 
        grid-column-start: 2;
    }
}

section.hero.theme-home .hero-meta-wrapper .hero-title {
    text-align: left;
}

section.hero.theme-portfolio .hero-image-wrapper {
    justify-content: start;
    order: 1;
    grid-column-start: 3;
    grid-column-end: 6;    
}  

section.hero.theme-about .hero-meta-wrapper {
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) { 
        grid-column-start: 3;
        grid-column-end: 7;
    }
}

section.hero.theme-about .hero-image-wrapper {
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) {
        display: flex;
        justify-content: center;  
        grid-column-start: 8;
        grid-column-end: 11;
    }
}

section.hero.theme-experience .hero-meta-wrapper .hero-title {
    text-align: left;
}

section.hero.theme-experience .hero-meta-wrapper {
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) { 
        display: flex;
        align-items: end;
        grid-column-start: 3;
        grid-column-end: 7;
    }
}

section.hero.theme-experience .hero-image-wrapper {
    transform: rotate(-15deg);
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) {
        display: flex;
        justify-content: center;  
        grid-column-start: 8;
        grid-column-end: 11;
    }
}


section.hero.theme-contact .hero-meta-wrapper {
    order: 2;
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) { 
        grid-column-start: 7;
        grid-column-end: 11;
    }
}

section.hero.theme-contact .hero-image-wrapper {
    order: 1;
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) {
        display: flex;
        justify-content: center;    
        grid-column-start: 3;
        grid-column-end: 6;
    }
}


/*
section.hero.theme-portfolio .hero-image-title__wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(161 / 16 * 1rem);
    @media (width >= 48rem) { 
        flex-direction: row;
        justify-content: center;
    }
}
*/

/*
section.hero.theme-portfolio .hero-image-title__wrapper .hero-meta-wrapper {
    display: flex;
}
*/

/*
section.hero.theme-portfolio .hero-image-title__wrapper .hero-meta-wrapper h1.hero-title {
    order: 1;
    width: 100%;
    max-width: 280px;
    text-align: left;
    color: var(--highlight-color);
    align-self: flex-end;
    @media (width >= 48rem) { 
        text-align: right;
    }
}
*/

/*
section.hero.theme-experience .hero-image-title__wrapper {
    display: flex;
    flex-direction: column;
    @media (width >= 48rem) { 
        flex-direction: row;
        justify-content: center;
    }
}

section.hero.theme-experience .hero-image-title__wrapper .hero-meta-wrapper {
    width: 100%;
    display: flex;
    width: auto;
    @media (width >= 48rem) { 
        max-width: 200px;
    }
}

section.hero.theme-experience .hero-image-title__wrapper .hero-meta-wrapper .hero-title {
    align-self: flex-end;
}

section.hero.theme-about .hero-image-title__wrapper {   
    display: flex;
    flex-direction: row;
    @media (width >= 48rem) { 
        justify-content: center;
        gap: calc(120 / 16 * 1rem);
    }
}

section.hero.theme-contact .hero-image-title__wrapper {
    display: flex;
    gap: calc(122 / 16 * 1rem);
    justify-content: left;
    @media (width >= 48rem) {
        justify-content: center;
    }
}


section.hero.theme-contact .hero-image-title__wrapper .hero-title br {
    display: none;
    @media (width >= 48rem) {
        display: block;
    }
}


section.hero.theme-contact .hero-image-title__wrapper .hero-title {
    width: 100%;
    text-align: left;
    @media (width >= 48rem) {
        text-align: right;
    }
} 

section.hero.theme-contact .hero-image-title__wrapper .hero-meta-wrapper {
    order: 2;
}



section.hero .hero-image-wrapper {
    display: none;
    @media (width >= 48rem) { 
        display: flex;
        justify-content: end;
        width: 300px;
        min-height: 300px;    
    }
}

*/