section.image-text.bg-secondary {
    background-color: var(--secondary-color);
}

section.image-text.bg-white .image-text-text-column {
    color: var(--dark);
}

section.image-text.bg-white .image-text__title {
    color: var(--primary-color);
}

section.image-text.left-to-right .image-text-column {
    order: 1;
}

section.image-text.left-to-right .image-text-text-column {
    order: 2;
}

section.image-text.left-to-right .image-text-graphic {
    order: 3;
}

section.image-text.right-to-left .image-text-image-column {
    order: 2;
}

section.image-text.right-to-left .image-text-text-column {
    order: 1;
}

section.image-text.right-to-left .image-text-graphic {
    order: 3;
}

section.image-text.right-to-left .image-text-image-column {
    order: 1;
    @media (width >= 48rem) { 
        order: 2;
    }
}

section.image-text.right-to-left .image-text-image-column .image-text-image__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    @media (width >= 48rem) { 
        justify-self: flex-end;
    }
}

section.image-text .image-text-image-column .image-text-image__wrapper.image-text-orientation__portrait {
    overflow: hidden;
} 

section.image-text.right-to-left .image-text-image-column .image-text-image__wrapper.image-text-orientation__portrait {
    margin-left: 0;
    @media (width >= 48rem) { 
        margin-left: calc(80 / 16 * 1rem);
    }
}   

section.image-text.left-to-right .image-text-image-column .image-text-image__wrapper.image-text-orientation__portrait {
    margin-right: 0;
    @media (width >= 48rem) { 
        margin-right: calc(80 / 16 * 1rem);
    }
}

section.image-text.right-to-left .image-text-image-column {
    grid-column: span 12;
    @media (width >= 48rem) { 
        grid-column-start: 9;
        grid-column-end: 13;
    }
}

section.image-text.theme-project.right-to-left .image-text-text-column {
    grid-column: span 12;
    @media (width >= 40rem) { 
        grid-column: span 7;
    }
}

section.theme-project .image-text-text-column .image-text__title {
    font-family: "marine-up", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

section.image-text.bg-white .image-text-text-column .image-text__title {
    color: var(--dark);
}

section.image-text .image-text-image-column .image-text-image__wrapper img {
    width: 100%;
    height: 100%;
    border-radius: calc(24 / 16 * 1rem);
}

section.image-text.bg-secondary .image-text__content, 
section.image-text.bg-secondary .image-text__title {
    color: var(--highlight-color);
} 

section.image-text .image-text__title {
    margin: 0;
}

section.image-text .image-text__content p {
    margin: 0;
}

section.image-text .image-text__content p {
    margin-bottom: 1.5rem;
}

section.image-text .image-text__content p:last-of-type {
    margin-bottom: 0;
}

section.image-text .row {
    display: flex;
    flex-direction: row;
}

section.image-text .image-text-image-column {
    grid-column: span 12; 
    @media (width >= 48rem) { 
        grid-column: span 5;
    }
}

section.image-text .image-text-text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: span 12;
    @media (width >= 48rem) {
        grid-column: span 8;
    }
}

section.image-text.theme-home.left-to-right .image-text-image-column {
    grid-column: span 8;
    @media (width >= 48rem) {
        grid-column: span 4;
    }
}



section.image-text.has-graphic .image-text-text-column {
    grid-column: span 12;
    @media (width >= 48rem) { 
        grid-column: span 5;
    }
}

section.image-text.has-graphic .image-text-graphic {
    display: none; 
    transform: scale(70%);
    background-image: url("/images/hero/flower-pot.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @media (width >= 48rem) {
        display: flex;
        align-items: flex-end;
        grid-column: span 2;
    }
}

section.image-text .buttons-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: calc(20 / 16 * 1rem);
    @media (width >= 48rem) { 
        flex-direction: row;
    }
}

section.image-text.bg-white.theme-about .image-text-text-column h3.image-text__title {
    color: var(--primary-color);
    font-family: "rl-aqva", sans-serif;
}

section.image-text.theme-project .grid .image-text-text-column {
    gap: calc(8 / 16 * 1rem);
}

