section.logo-grid {
    background-color: white;
}

section.logo-grid .span-full {
    grid-column: span 12;
}

section.logo-grid .logo-image-wrapper img {
    width: 100%;
    height: auto;
}

section.logo-grid .grid {
    gap: 0;
}

section.logo-grid .grid.logo-grid-wrapper {
    background-color: var(--light-gray);
}

section.logo-grid .item {
    position: relative;
    border-color: var(--secondary-color);
    border-style: solid;
    padding: 3rem;
}

section.logo-grid .item .logo-grid__title {
    font-family: "marine-up", sans-serif;
    font-weight: 900;
    margin-top: 0.5rem;
    top: 0;
    position: absolute;
}

section.logo-grid .item.first-full {
    border-width: 3px 3px 0px 3px;
    border-top-left-radius: calc(30 / 16 * 1rem);
    border-top-right-radius: calc(30 / 16 * 1rem);
}

 
section.logo-grid .item.mid-left {
    border-width: 3px 3px 3px 3px;
}

section.logo-grid .item.mid-right {
    border-width: 0px 3px 3px 3px;
    @media (width >= 48rem) { 
        border-width: 3px 3px 3px 0px;
    }
}

section.logo-grid .item.mid-full {
    border-width: 3px;
}


section.logo-grid .item.bottom-left {
    border-width: 0px 3px 3px 3px;
    @media (width >= 48rem) { 
        border-bottom-left-radius: calc(30 / 16 * 1rem);
    }
}

section.logo-grid .item.is-logomark {
    @media (min-width: 0) and (max-width: 48rem) {
        order: 1;
        border-width: 0px 3px 3px 3px;
        border-bottom-left-radius: calc(30 / 16 * 1rem);
        border-bottom-right-radius: calc(30 / 16 * 1rem); 
    }
}

section.logo-grid .item.bottom-right {
    @media (width >= 48rem) {
        border-width: 0 3px 3px 0; 
        border-bottom-left-radius: 0;
        border-bottom-right-radius: calc(30 / 16 * 1rem);
    }
}

section.logo-grid .item:last-of-type {
    @media (min-width: 0) and (max-width: 48rem) {
        border-width: 0px 3px 3px 3px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}


section.logo-grid .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
 
section.logo-grid .logo-wrapper img {
    width: 100%;
}

section.logo-grid .item .logo.orientation-square {
    aspect-ratio: 1 / 1;
}

section.logo-grid .item .logo.orientation-landscape {
    aspect-ratio: 7 / 1;
}
 