article.project-card {
    display: flex;
    gap: calc(20 / 16 * 1rem);
    flex-direction: column;
    padding: 1.125rem;
    overflow: hidden;
    border-radius: 1.25rem;
}

article.theme-tertiary-offset {
    border: 3px solid var(--tertiary-offset);
}

article.theme-secondary {
    background-color: var(--white);
    border: 3px solid var(--secondary-color);
}

section.bg-secondary article.theme-secondary {
    background-color: var(--white);
    border: 3px solid var(--highlight-color);
}

article.theme-secondary .project-card__title {
    color: var(--secondary-color);
}

article.project-card p.project-card__excerpt {
    margin: 0;
}

article.project-card .project-card-image__wrapper {
    background-color: var(--primary-color);
    overflow: hidden;
    border-radius: 20px;
}

article.project-card .project-card__image {
    aspect-ratio: 346 / 260;
}

article.project-card .project-card__image {
    width: 100%;
    height: 100%;
}

article.project-card .button-wrapper {
    margin-top: auto;
}