article.project-card {
    display: flex;
    flex-direction: column;
    padding: 1.125rem;
    overflow: hidden;
    border: 3px solid var(--tertiary-offset);
    border-radius: 1.25rem;
}

article.project-card .project-card__image {
    aspect-ratio: 346 / 260;
}

article.project-card .project-card__image {
    width: 100%;
    height: 100%;
}

article.project-card .button-wrapper {
    margin-top: auto;
}