section.quick-links .grid {
    gap: 2rem;
    @media (width >= 48rem) {
        gap: 1rem;
    }
}

article.quick-link-card.quick-link-card-index__1 {
    grid-column-start: 1; 
    grid-column-end: 12;
    @media (width >= 40rem) { 
        grid-column-start: 2;
        grid-column-end: 6;
    }
}

article.quick-link-card.quick-link-card-index__2 {
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 40rem) {
        grid-column-start: 8;
        grid-column-end: 12;
    }
}

article.quick-link-card .quick-link-card__title {
    margin-top: 1rem;
    color: var(--tertiary-color);
}

article.quick-link-card .quick-link-card__blurb p {
    color: var(--dark);
    margin-bottom: calc(20 / 16 * 1rem);
    @media (width >= 48rem) { 
        margin-bottom: calc(40 / 16 * 1rem);
    }
}

article.quick-link-card .quick-link-card-image__wrapper {
    aspect-ratio: 386 / 291;
    max-width: 386px;
}

article.quick-link-card .image-wrapper .quick-link-card__image {
    width: 100%;
    height: auto;
}

article.quick-link-card .image-wrapper {
    width: 100%;
}

 