section.resume .filters-section-wrapper {
    display: flex;
    flex-direction: column;
}

section.resume .filters-section-wrapper .resume-filters__wrapper {
    display: flex;
    flex-direction: row;   
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    @media (width >= 48rem) { 
        gap: calc(37 / 16 * 1rem);
    }
}

section.resume h5.resume-education__title {
    text-transform: uppercase;
}

section.resume h5.resume-education__title span {
    text-transform: none;
}

section.resume .resume-subtitle-wrapper {
    grid-column-start: 1;
    grid-column-end: 13;
    @media (width >= 48rem) { 
        grid-column-start: 3;
        grid-column-end: 13;    
    }
}

section.resume .resume-subtitle {
    font-family: "rl-aqva", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    @media (width >= 48rem) { 
        font-size: 2.5rem;
    }
}

section.resume .resume-subsubtitle {
   font-family: "marine-up", sans-serif;
   font-weight: bold;
}

section.resume .resume-skills__title {
    font-family: "marine-up", sans-serif;
    font-style: italic;
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    text-transform: uppercase;
}

section.resume .resume-skills__group {
    width: 50%;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
}

section.resume .resume-skills__group ul.resume-skills__list {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
}

section.resume .articles-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(30 / 16 * 1rem);
    grid-column-start: 1;
    grid-column-end: 13;
    @media (width >= 48rem) { 
        gap: calc(58 / 16 * 1rem);
        grid-column-start: 4;
        grid-column-end: 11;  
    }
}

section.resume article {
    color: var(--dark);
}

section.resume .articles-wrapper article {
    display: flex;
    flex-direction: column;
}

section.resume .articles-wrapper article p {
    margin: 0;
}

section.resume .articles-wrapper__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.resume .resume-meta__wrapper {
    display: flex; 
    flex-direction: column;
}

section.resume article.resume-education .resume-meta__wrapper {
    gap: 0;
}


section.resume .button-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (width >= 48rem) { 
        margin-top: calc(70 / 16 * 1rem);
        flex-direction: row;
    }
}

section.resume .button-wrapper .wrapper {
    display: flex;
}

/* reset the row gap so that it doesn't effect the padding */
section.resume .grid {
    row-gap: 0;
}

section.resume .resume-wrapper {
    display: flex;
    flex-direction: column;
}