section.resume h3.resume-title {
    text-align: center;
    color: var(--tertiary-offset);
}

section.resume .filters-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(20 / 16 * 1rem);
    padding-bottom: calc(50 / 16 * 1rem);
    @media (width >= 48rem) { 
        padding-bottom: calc(100 / 16 * 1rem);
        gap: calc(37 / 16 * 1rem);
    }
}

section.resume .filters-section-wrapper .resume-filters__wrapper {
    display: flex;
    flex-direction: row;   
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    @media (width >= 48rem) { 
        gap: calc(37 / 16 * 1rem);
    }
}

section.resume h5.resume-education__title {
    text-transform: uppercase;
}

section.resume h5.resume-education__title span {
    text-transform: none;
}

section.resume .resume-subtitle {
    font-family: "marine-up", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

section.resume .resume-subsubtitle {
   font-family: "marine-up", sans-serif;
   font-weight: bold;
}

section.resume .resume-skills__title {
    margin-bottom: 0;
    font-family: "marine-up", sans-serif;
    font-style: italic;
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    text-transform: uppercase;
}

section.resume .resume-skills__group {
    display: flex;
    flex-direction: column;
    gap: calc(25 / 16 * 1rem);
    @media (width >= 48rem) { 
        gap: calc(50 / 16 * 1rem);
    }
}

section.resume .resume-skills__group ul.resume-skills__list {
    margin: 0;
    display: flex;
    gap: calc(25 / 16 * 1rem);
    flex-direction: column;
    padding-left: 0;
    list-style: none;
    @media (width >= 48rem) { 
        gap: calc(50 / 16 * 1rem);
    }
}

section.resume .articles-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(30 / 16 * 1rem);
    @media (width >= 48rem) { 
        gap: calc(58 / 16 * 1rem);
    }
}

section.resume article {
    color: var(--dark);
}

section.resume .articles-wrapper article {
    display: flex;
    gap: calc(11 / 16 * 1rem);
    flex-direction: column;
}

section.resume .articles-wrapper article p {
    margin: 0;
}

section.resume .articles-wrapper__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.resume .resume-meta__wrapper {
    display: flex; 
    flex-direction: column;
    gap: calc(15 / 16 * 1rem);
    @media (width >= 48rem) { 
        gap: calc(28 / 16 * 1rem)
    }
}

section.resume article.resume-education .resume-meta__wrapper {
    gap: 0;
}

section.resume .button-wrapper {
    margin-top: calc(40 / 16 * 1rem);
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: calc(40 / 16 * 1rem);
    @media (width >= 48rem) { 
        flex-direction: row;
        margin-top: calc(90 / 16 * 1rem);
    }
    @media (width >= 64rem) { 
        margin-top: calc(140 / 16 * 1rem);
    }
}

section.resume .button-wrapper .wrapper {
    display: flex;
}

section.resume .resume-wrapper {
    display: flex;
    gap: calc(40 / 16 * 1rem);
    flex-direction: column;
    @media (width >= 48rem) { 
        gap: calc(90 / 16 * 1rem);
    }
    @media (width >= 64rem) { 
        gap: calc(140 / 16 * 1rem);
    }
}