section.text-block .text-block__wrapper {
    grid-column: span 12;
    @media (width >= 48rem) { 
        grid-column-start: 2;
        grid-column-end: 12;    
    }
}

section.text-block .signposts-wrapper {
    margin-bottom: calc(30 / 16 * 1rem);
    @media (width >= 48rem) { 
        margin-bottom: calc(60 / 16 * 1rem);
    }
}
 
section.text-block .text-block__title {
    text-transform: uppercase;
}

section.text-block article.signpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section.text-block article.signpost p.caption {
    text-transform: uppercase;
    font-weight: 900;
}

section.text-block article.signpost.col-span-2 {
    grid-column: span 6;
    @media (width >= 48rem) { 
        grid-column: span 2;
    }
}

section.text-block article.signpost .signpost-logo-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

section.text-block article.signpost .signpost-logo-wrapper img {
    width: 100%;
    height: auto;
}

section.text-block article.signpost .signpost-logo-wrapper.aspect-ratio-square img {
    aspect-ratio: 1 / 1;
}