section.text-block .text-block__wrapper {
    grid-column: span 12;
    @media (width >= 48rem) { 
        grid-column-start: 2;
        grid-column-end: 12;    
    }
}

section.text-block .text-block__title {
    text-transform: uppercase;
}

section.text-block article.signpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section.text-block article.signpost p.caption {
    text-transform: uppercase;
    font-weight: 900;
}

section.text-block article.signpost .logo {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1 / 1;
}  

section.text-block article.signpost .logo.logo-me-olive-branch {
    background-image: url('/images/projects/my_eirene/me-logo-logomark.svg');
}


section.text-block article.signpost .logo.logo-me-greek-goddess {
    background-image: url('/images/projects/my_eirene/me-goddess-of-peace.svg');
}


section.text-block article.signpost .logo.logo-me-sceptre-of-goddess {
    background-image: url('/images/projects/my_eirene/me-sceptre-of-the-goddess.svg');
}