<footer>
    <div class="container">
        <div class="grid">
            <div class="col col-span-4">
                <h3 class="footer-col-title">INFORMATION</h3>
                <nav class="footer-menu"> 
                    <ul>                        
                        {%- for link in footer.footerLinks -%}
                            <li>
                                <a href="{{link.link}}">{{ link.label }}</a>
                            </li>
                        {%- endfor -%}
                    </ul> 
                </nav>
            </div>
            <div class="col col-span-4">
                {% if footer.footerLogo %}
                    <img src="{{ footer.footerLogo.src }}" alt="{{footer.footerLogo.altText}}" />
                {% endif %}
                {% if footer.copyright %}
                      <p class="footer-copyright-text">{{ footer.copyright }}</p>
                {%  endif %}
            </div>
            <div class="col col-span-4">
                <div class="footer-social-media-wrapper">
                    <div>
                        <h3 class="footer-col-title">SOCIAL MEDIA</h3>
                        <ul class="footer-social-media">
                            {%- for social in footer.footerSocial -%}
                                <li class="{{ social.label }}"><a href="{{ social.link }}">
                                    <span>{{social.label}}</span></a>
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>