<!-- / Close main -->
</main>
<footer>
    <div class="container-xl">
        <div class="grid">
            <div class="col col-span-4 footer-col-1">
                <h3 class="footer-col-title">INFORMATION</h3>
                <nav class="footer-menu"> 
                    <ul>                        
                        {%- for link in footer.footerLinks -%}
                            <li>
                                <a href="{{link.link}}">{{ link.label }}</a>
                            </li>
                        {%- endfor -%}
                    </ul> 
                </nav>
            </div>
            <div class="col col-span-4 footer-col-2">                            
                <img src="/images/Footer_logo.svg" alt="logo alt" class="footer-logo" />
                <p class="footer-copyright-text">{% if footer.copyright %} {{ footer.copyright}} {% else %}Jamila Y Akhtar 2026 All Rights Reserved{% endif %}</p>
            </div>
            <div class="col col-span-4 footer-col-3">
                <div class="footer-social-media-wrapper">
                    <div>
                        <h3 class="footer-col-title">SOCIAL MEDIA</h3>
                        <ul class="footer-social-media">
                            {% if footer.footerSocial %}
                                {%- for social in footer.footerSocial -%}
                                    <li class="{{ social.label }}"><a href="{{ social.link }}">
                                        <span>{{social.label}}</span></a>
                                    </li>
                                {%- endfor -%}
                            {% else %}
                                <li class="instagram">
                                    <a href="https://www.instagram.com/jamilayakhtar" target="_blank"><span>instagram</span></a>
                                </li>        
                                <li class="linkedin">
                                    <a href="https://www.linkedin.com/in/jamilaya9501"  target="_blank"><span>linkedin</span></a>
                                </li>        
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>