.nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-wrapper nav {
    display: flex;
    align-items: center;
}

.nav-wrapper nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    list-style: none;
}

.nav-wrapper nav ul li a {
    font-size: calc(22 / 16 * 1rem);
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-wrapper nav ul li a.is-active {
    font-weight: 600;
}

.container-outer {
    background-color: var(--primary-color);
}
