<header>
    <div class="container-xl">
        <div class="nav-wrapper">
            <div class="nav-logo-wrapper">
                <a href="/">
                    {% include "./components/header-logo.njk" %}
                </a>
            </div>
            <button class="mobile-menu-button">
                {% include "./components/mobile-menu-button.njk" %}
            </button>
            <nav class="desktop-navigation" aria-label="Main navigation">
                <ul>
                    {%- for link in header.nav -%}
                        <li>
                            <a href="{{link.link}}" class="nav-item{% if link.isActive %} is-active{% endif %}">{{ link.label }}</a>
                        </li>
                    {%- endfor -%}
                </ul>
            </nav> 
        </div>
    </div>
</header>