<header class="main-header">
    <div class="container-xl">
        <div class="nav-wrapper">
            <div class="nav-logo-wrapper">
                <a href="/" class="nav-logo-link">
                    <span class="visually-hidden">Navigate to homepage</span>
                    {% include "./components/header-logo.njk" %}
                </a>
            </div>
            <button class="mobile-menu-button" type="button">
                <span class="visually-hidden">menu open</span>
            </button>
            <nav class="desktop-navigation" aria-label="Main navigation">
                <ul class="nav">
                    {%- for link in header.nav -%}
                        <li class="nav-link">
                            <a href="{{link.link}}" class="nav-item{% if link.isActive %} is-active{% endif %}">{{ link.label }}</a>
                        </li>
                    {%- endfor -%}
                </ul>
            </nav> 
        </div>
    </div>
    <!-- Mobile menu -->
        <div class="mobile-menu-wrapper">
              <nav class="mobile-menu-navigation" aria-label="Main navigation">
                <ul>
                    {%- for link in header.nav -%}
                        <li>
                            <a href="{{link.link}}" class="nav-item{% if link.isActive %} is-active{% endif %}">{{ link.label }}</a>
                        </li>
                    {%- endfor -%}
                </ul>
            </nav>             
        </div>
    <!-- Mobile menu end --> 
</header>
<!-- Open Main -->
<main class="{{(posttype or "page")}}">

