--- 
title: Jamila Akhtar Portfolio
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bundle.css">
        <title>{{ title }}</title>        
    </head>
    {% include "header.njk" %}
    <body>
        <div>
            {{ content | safe }}
        </div>
    </body>
    {% include "footer.njk" %}
</html>