<article class="project-card {{ "theme-" + (cardTheme or "tertiary-offset") }}">
    {% if cardImage %}
        <div class="project-card-image__wrapper">
            <img src="{{ cardImage }}" alt="{{ cardImageAlt }}" class="project-card__image" />
        </div>
    {% endif %}
    {% if cardTitle %}
        <h3 class="project-card__title heading-sm">{{cardTitle}}</h3>
    {% endif %}
    {% if cardExcerpt %}
        <p class="project-card__excerpt">{{cardExcerpt}}</p>
    {% endif %}
    {% if cardLink %}
        <div class="button-wrapper">
            <a href="{{ cardLink }}" class="button button-tertiary">{{ "View Project" }}</a>
        </div>
    {% endif %}
</article>