<a href="{{ cardLink }}" class="project-card-link">
    <article class="{{ (cardTheme or "project-card") }}">
        {% if cardImage %}
            <div class="project-card-image__wrapper">
                <img src="{{ cardImage }}" alt="{{ cardImageAlt }}" class="project-card__image" />
            </div>
        {% endif %}
        <div class="project-card__meta">
            {% if cardTitle %}
                <h3 class="project-card__title heading-sm">{{cardTitle}}</h3>
            {% endif %}
            {% if cardIndustry %}
                <p class="card-industry text-sm">{{cardIndustry}}</p>
            {% endif %}
            {% if cardTags %}
                <ul class="card-tags__wrapper">
                    {%- for tag in cardTags -%}
                        <li class="card-tag text-sm">{{tag}}</li>
                    {%- endfor -%}
                </ul>
            {% endif %}
            {% if cardBlurb %}
                <div class="card-blurb text-sm">{{ cardBlurb | safe }}</div>
            {% endif %}
            {% if cardLink %}
                <div class="button-wrapper">
                    <span href="{{ cardLink }}" class="{{ "button-" + (cardButtonTheme or "secondary") }} button-sm w-border">{{ (cardButtonText or "Check me out!") }}</span>
                </div>
            {% endif %} 
        </div>
    </article>
</a>