{% include "../head.njk" %}

{% include "../header.njk" %}

{% include "../modules/hero.njk" %}

{% set imageTextTitle = imageText.title %}
{% set imageTextBlurb = imageText.blurb %}
{% set imageTextImage = imageText.image %}
{% set imageTextButton = imageText.button %}
{% set imageTextButtons = imageText.buttons %}
{% set imageTextLeftToRight = imageText.leftToRight %}
{% include "../modules/imageText.njk" %}

{% include "../modules/form.njk" %}

{% include "../footer.njk" %}