{% include "../head.njk" %}

{% include "../header.njk" %}

{% include "../modules/hero.njk" %}

{% include "../modules/resume.njk" %}

{% include "../modules/featuredProjects.njk" %}

{% include "../footer.njk" %}