{% include "../head.njk" %}

{% include "../header.njk" %}

{% include "../modules/hero.njk" %}

{% include "../modules/projectsWrapper.njk" %}  

{% include "../modules/form.njk" %}

{% include "../footer.njk" %}