{% include "../head.njk" %}

{% include "../header.njk" %}

{% include "../layout/project-header.njk" %} 

{%- for layout in flexibleLayout -%}
    {% if layout.name === "image-text" %}
        {% set imageTextTitle = layout.title %}
        {% set imageTextBlurb = layout.text %}
        {% set imageTextImage = layout.image %}
        {% set imageTextTheme = layout.theme %}
        {% set imageTextLeftToRight = layout.leftToRight %} 
        {% include "../modules/imageText.njk" %} 
    {% endif %}
    {% if layout.name === "full-width-image" %}
        {% set fullImage = layout.fullImage %}
        {% include "../modules/fullImage.njk" %}
    {% endif %} 
    {% if layout.name === "text-block" %}
        {% set title = layout.title %}
        {% set content = layout.content %}
        {% set columns = layout.signposts.columns %}
        {% set signposts = layout.signposts.items %}
        {% include "../modules/textBlock.njk" %}
    {% endif %}
    {% if layout.name === "logo-grid" %}
        {% set theme = layout.logoGrid.theme %}
        {% set items = layout.logoGrid.items %}
        {% include "../modules/logoGrid.njk" %}
    {% endif %}
{%- endfor -%}

<div class="container">
    <div class="button-wrapper">
        <a class="button button-primary" href="/portfolio">Return to Portfolio</a>
    </div>
</div>

{% include "../footer.njk" %}
