<section class="project-header bg-white">
    <div class="container">
        <div class="grid">
            <div class="col-span-12">
                {% if title %}
                    <h1 class="article-header__title heading-xl">{{ title }}</h1>
                {% endif %}
            </div>
            <div class="col-span-6">
                <div class="article-header-meta__wrapper">
                    {% if specializations %}
                        <ul class="article-header__tags">
                            {%- for tag in specializations %}
                                <li class="article-header__tag heading-md">{{tag }}</li>
                            {%- endfor -%}
                        </ul>
                    {% endif %}
                    <p class="article-header__meta heading-sm">
                        {% if startDate %}
                            <span class="article-header-start__date">
                                {{ startDate | date("MMM YYYY")}}
                            </span>
                        {% endif %}
                        -
                        {% if endDate %}
                            <span class="article-header-end__date">
                                {{ endDate | date("MMM YYYY")}}
                            </span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-span-6"> 
                {% if location %}
                    <div class="article-header-loc__wrapper">
                        <p class="article-header__location heading-sm">{{location}}</p>    
                    </div>
                {% endif %}
            </div>
            <div class="col-span-12">
                {% if headerImage.src %}
                    <div class="article-header-image__wrapper">
                        <img src="{{headerImage.src}}" alt="{{headerImage.altText}}" />
                    </div>
                {% endif %}
                {% if brandSwatches %}
                    <ul class="article-header__swatches">
                        {%- for swatch in brandSwatches -%}
                            <li class="article-header__swatch {% if swatch === "#F7F5F5" or swatch === "#EEEEF0" %}w-border{% endif %}" style="background-color: {{swatch}}">
                                <span class="visually-hidden">{{ ("swatch hex code: " + swatch) }}</span>
                            </li>
                        {%- endfor -%}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>