{% include "../head.njk" %}

{% include "../header.njk" %}

{% if title %}
    <h1>{{title}}</h1>
{% endif %}

{{ title }}

<p>
    <span>
        Date: {{ date }}
    </span>
    <br />
    <span>
        End date: {{ endDate }}
    </span>
</p>

{%- for layout in flexibleLayout -%}
    {% if layout.name === "image-text" %}
        {% set imageTextTitle = layout.title %}
        {% set imageTextBlurb = layout.text %}
        {% set imageTextImage = layout.image %}
        {% include "../modules/imageText.njk" %}
    {% endif %}
{%- endfor -%}

{% include "../footer.njk" %}
