<h1>Thank you</h1>
{% if env.environment == "production" %}
	<p>{{"foo"}}</p>
{% else %}
	<p>{{"bar"}}</p>
{% endif %}

<p>{{env.environment}}</p>

<p>{{env.localhost + '/thank-you/'}}</p>

<p>{{env.staging}}</p>

<p>{{env.production}}</p>