<section class="featured-projects {{ "bg-" + (featuredProjects.backgroundColour or "white") }}">
    <div class="container">
        {% if featuredProjects.title %}   
            <div class="featured-projects-title__wrapper">
                <h3 class="featured-projects__title {{ "text-" + (featuredProjects.titleColour or "black") }}">
                    {{ featuredProjects.title | safe }}
                </h3>
            </div>
        {% endif %}
        {% if collections.projects %}
            <div class="featured-projects__wrapper">
                {%- for project in collections.projects -%}
                    {% set cardImage = project.data.thumbnail.src %}
                    {% set cardImageAlt = project.data.thumbnail.altText %}
                    {% set cardTitle = project.data.title %}
                    {% set cardExcerpt = project.data.excerpt %}    
                    {% set cardIndustry = project.data.industry %}
                    {% set cardTags = project.data.specializations %}  
                    {% set cardLink = project.data.permalink %}
                    {% set cardTheme = featuredProjects.cardTheme %}
                    {% set cardButtonTheme = featuredProjects.buttonTheme %}
                    {% if featuredProjects.projects %}
                        {% if cardTitle in (featuredProjects.projects) %}
                            {% include "../components/card.njk" %}
                        {% endif %}                    
                    {% endif %}
                {%- endfor -%} 
            </div>
        {% endif %}
    </div>
</section>