<section>
    <h1></h1>
    <form>        
        <!-- Full name -->
        <label for="full-name">Full Name</label>
        <input placeholder="John Smith" id="full-name" />
        <!-- / Full name end -->
        <!-- Email -->
        <label for="email">Email</label>
        <input placeholder="john.smith@example.com" id="email" />
        <!-- / Email end -->
        <!-- Message -->
        <label for="message">Message</label>
        <textarea id="message"></textarea>
        <!-- / Message end --> 
        <button>Submit</button>
    </form>
</section>