<section class="contact-form {{ "theme-" + (form.theme or "portfolio") }} {{ "bg-" + (form.backgroundColour or "secondary") }}">
    <div class="container">
        <div class="grid">
            <div class="column-text">
                {% if form.title %}
                    <h3 class="cta-title heading-md">{{form.title | safe }}</h3>
                {% endif %}

                {% if form.graphic %}
                    <div class="graphic-wrapper"><span class="visually-hidden">graphic</span></div>
                {% endif %}
            </div>
            <div class="column-form">
                <div class="form-wrapper">
                    <form>        
                        <!-- Full name -->
                        <div class="form-field-wrap">
                            <label for="full-name">Full Name</label>
                            <input placeholder="John Smith" id="full-name" />
                        </div>
                        <!-- / Full name end -->
                        <!-- Email -->
                        <div class="form-field-wrap">
                            <label for="email">Email</label>
                            <input placeholder="john.smith@example.com" id="email" />
                        </div>
                        <!-- / Email end -->
                        <!-- Message -->
                        <div class="form-field-wrap">
                            <label for="message">Message</label>
                            <textarea id="message" placeholder="Interested in project..."></textarea>
                        </div>
                        <!-- / Message end --> 
                        <!-- Button start -->
                        <button class="form-button">Submit</button>
                        <!-- / Button end -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>