<section class="full-width-image bg-white">
    <div class="container">
        {% if fullImage.src %}
            <div class="image-wrapper">
                <img src="{{fullImage.src}}" alt="{{fullImage.alt}}" />
            </div>
        {% endif %}
    </div>
</section>

