<section class="hero {{ "theme-" + (hero.theme or "home") }} {{ "bg-" + (hero.backgroundColour or "white") }}">    
    <div class="container">       
        <div class="grid">
            {% if hero.theme === "home" %}
                <div class="hero-wrapper">
            {% endif %}
                {% if hero.backgroundImage %}
                    <div class="hero-background-image" style="background-image: url('{{hero.backgroundImage.src}}')"><span class="visually-hidden">background container</span></div>
                {% endif %}
                <div class="hero-meta-wrapper">
                    {% if hero.title %}
                        <h1 class="hero-title heading-xl">{{ hero.title | safe }}</h1>
                    {% endif %}
                    {% if hero.typewriter %}
                        <div class="hero-typewriter">
                            {%- for word in hero.typewriter -%}
                                <span class="visually-hidden">{{ word }}</span>
                            {%- endfor -%}
                        </div>
                    {% endif %}
                    {% if hero.typewriter %}
                        <div class="hero-typewriter-wrapper">
                            <h2 class="typewriter-effect heading-xl"></h2>
                        </div>
                    {% endif %}
                    {% if hero.strapline %}
                        <div class="hero-strapline-wrapper">
                            <p class="hero-strapline heading-sm">{{ hero.strapline }}</p>
                        </div>
                    {% endif %}
                    {% if hero.ctaButtons %}
                        <ul class="button-list">
                            {%- for button in hero.ctaButtons -%}
                                <li>
                                    <span><a href="{{ button.link }}" class="button button-sm button-tertiary-offset w-border">{{ button.label }}</a></span>
                                </li>
                            {%- endfor -%}
                        </ul>
                    {% endif %}
                    {%- for social in footer.footerSocial -%}
                        <li class="{{ social.label }}"><a href="{{ social.link }}">
                            <span>{{social.label}}</span></a>
                        </li>
                    {%- endfor -%}
                </div>
                {% if hero.image %}
                    <div class="hero-image-wrapper"> 
                        <img src="{{ hero.image.src }}" alt="{{ hero.image.altText }}" />
                    </div>
                {% endif %}
            {% if hero.theme === "home" %}
                </div>
            {% endif %}
        </div>    
    </div>
</section>