<section class="image-text{% if imageTextLeftToRight %} left-to-right {% else %} right-to-left{% endif %}">
    {% if imageTextTitle %}
        <h1>{{ imageTextTitle }}</h1>
    {% endif %}
    {% if imageTextBlurb %}
        {{ imageTextBlurb | safe }}
    {% endif %}
    {% if imageTextImage.src %}
        <img src="{{ imageTextImage.src }}" alt="{{ imageTextImage.altText }}" />
    {% endif %}
    {% if imageTextButton.link %}
        <a href="{{ imageTextButton.link }}">{{ imageTextButton.text }}</a>
    {% endif %}
    {%- for button in imageTextButtons -%}
        <a href="{{button.link}}">
            {{button.text}}
        </a>
    {% endfor %}
</section>
