<section>
    <h3>Portfolio</h3>
    <ul>
        {%- for project in collections.project -%}
            {% set cardTitle = project.title %}
            {% include "../components/card.njk" %}
        {%- endfor -%}
    </ul>
</section> 