<section class="quick-links">
    <div class="container">
    {% if quickLinks.title %}
        <h3>{{ quickLinks.title }}</h3>
    {% endif %}
    <div class="grid">
        {%- for card in quickLinks.cards -%}
            <article class="quick-link-card col-span-6">        
                {% if card.image.src %}
                    <img src="{{ card.image.src }}" alt="{{ card.image.altText }}" />
                {% endif %}
                {% if card.title %}
                    <h4 class="quick-link-card__title ">{{card.title}}</h4>
                {% endif %}
                {% if card.blurb %}
                    <div class="quick-link-card__blurb">{{ card.blurb }}</div>
                {% endif %}
                {% if card.button.text %}
                    <span class="button-wrapper">
                        <a href="{{ card.button.link }}" class="button button-primary">{{ card.button.text }}</a>
                    </span>
                {% endif %}
            </article>
        {%- endfor -%}
    </div>
    </div>
</section>