<section class="quick-links">
    <div class="container">
    {% if quickLinks.title %}
        <h3>{{ quickLinks.title }}</h3>
    {% endif %}
    <div class="grid">
        {%- for card in quickLinks.cards -%}
            <article class="quick-link-card quick-link-card-index__{{ loop.index }}">  
                {% if card.icon %}
                    <div class="quick-link-card__icon quick-link-card-icon__{{ card.icon or "drink-up" }}">
                        <span class="visually-hidden">icon</span>
                    </div>
                {% endif %}
                {% if card.title %}
                    <h4 class="quick-link-card__title heading-md">{{card.title}}</h4>
                {% endif %}
                {% if card.blurb %}
                    <div class="quick-link-card__blurb">
                        {{ card.blurb | safe }}
                    </div>
                {% endif %}
                {% if card.button.text %}
                    <span class="button-wrapper">
                        <a href="{{ card.button.link }}" class="button button-primary">{{ card.button.text }}</a>
                    </span>
                {% endif %}
            </article>
        {%- endfor -%}
    </div>
    </div>
</section>