<section class="resume">
    <h1>{{resume.title}}</h1>
    {%- for experience in resume.experience.experiences -%}
        <article>
            <h3>{{experience.role}} | {{experience.company}}</h3>
            <div class="meta">
                <p>
                    <span class="start-year">{{experience.startYear}}</span> - 
                    <span class="end-year">{{experience.endYear}}</span>, 
                    <span class="city">{{experience.city}}</span>,
                    <span class="country">{{experience.country}}</span>
                </p>
            </div>
            <p>{{experience.description}}</p>
        </article>
    {%- endfor -%}
    <h1>{{resume.education.title}}</h1>
    {%- for item in resume.education.items -%}
        <article>
            <h3>{{item.title}}</h3>
            <div class="meta">
                <p>
                    <span class="start-year">{{item.startYear}}</span> - 
                    <span class="end-year">{{item.endYear}}</span>
                    <span class="school">{{item.school}}</span>
                </p>
            </div>
        </article>
    {%- endfor -%}
    <h1>{{resume.skills.title}}</h1>
    {%-  for item in resume.skills.items -%}
        <h3>{{item.title}}</h3>
        {%- for item in item.group -%}
            <p>{{item}}</p>
        {%- endfor -%}
    {%- endfor -%}
    <h1>{{resume.volunteering.title}}</h1>
    {%- for item in resume.volunteering.items -%}
        <article>
            {{ item.organisation }}
            {{ item.description }} 
            <div class="meta">
                <p>
                    <span class="start-year">{{item.startYear}}</span> - 
                    <span class="end-year">{{item.endYear}}</span>
                    <span class="school">{{item.school}}</span>
                </p>
            </div>
            {{item.address }}
        </article>
    {%- endfor -%}
</section>