<section class="text-block">
    <div class="gallery">
        {%- for image in gallery.images -%}
            <img src="{{image.src}}" alt="{{image.alt}}" />
        {%- endfor -%}
    </div>

    {% if title %}
        <h3>{{title}}</h3>
    {% endif %}
    
    <div>
        {{content | safe}}
    </div>
</section>