<section class="text-block bg-white">
    <div class="container">
        {% if signposts %}
            {% include "../modules/signposts.njk" %}
        {% endif %}
        <div class="grid">
            <div class="text-block__wrapper">
                {% if title %}
                    <h3 class="text-block__title">{{title}}</h3>
                {% endif %}
                {% if content %}
                    <div class="text-block__content body-lead">
                        {{content | safe}}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>